*
{
    margin : 0;
    padding : 0;
}
h1
{
    font-size: 2rem !important;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight:bold;
    font-family: system-ui;
    color: rgb(0, 226, 23);
    background-color: rgb(255, 255, 255);
}
